<!DOCTYPE html>
<html>
<head>
<title>Smart City</title>

<link rel="stylesheet" type="text/css" href="http://jimmybot.xyz:7777/static/mainStyle.css">

</head>
<body>
{% load staticfiles%}
{%include 'navbar.html'%}

<div class="content">

<table style="width:100%">
  <tr>
    <th>College Name</th>
    <th>Address</th>
    <th>Departments</th>
    <th>Email</th>
  </tr>
  {% for college in colleges %}
  <tr>
    <td>{{ college.name }}</td>
    <td>{{ college.address }}</td>
    <td>{{ college.departments }}</td>
    <td>{{ college.email }}</td>
  </tr>
  {% endfor %}
</table> 

</body>
</html>