<!DOCTYPE html>
<html>
<head>
<title>Smart City</title>

<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/mainStyle.css">
{% load staticfiles%}
</head>
<body>

{%include 'navbar.html'%}
<img type="city"; src="https://broadwayadvancezh.files.wordpress.com/2016/09/manhattan-wallpaper-41.jpg?w=1400&h=400&crop=1">

<div class="content">

<table style="width:100%">
  <tr>
    <th>College Name</th>
    <th>Address</th>
    <th>Departments</th>
    <th>Email</th>
  </tr>
  {% for college in colleges %}
  <tr>
    <td>{{ college.college_name }}</td>
    <td>{{ college.address }}</td>
    <td>{{ college.departments }}</td>
    <td>{{ college.email }}</td>
  </tr>
  {% endfor %}
</table> 

</body>
</html>