<!DOCTYPE html>
<html>
<head>
<title>Smart City</title>
<link rel="stylesheet" type="text/css" href="http://jimmybot.xyz:7777/static/mainStyle.css">
<style>
input.GoTo{
	font-family: Verdana;
	padding:0px;
	width:80px;
	background: rgba(0,0,0,0);
	border:0px;
	color:white;
}
div.content{
height:initial;
}
</style>

</head>

<body>

<div class="content">

{% load staticfiles%}
{%include 'navbar.html'%}
<table style="width:100%">
  <tr>
    <th>Site Name</th>
    <th>Address</th>
	{% if libraries.0.phone_number %}
    <th>Phone Number</th>
		{%endif%}

    <th>Email</th>
  </tr>
  {% for library in libraries %}
  <tr><form method="post" action="/generate">
  	{% csrf_token %}
	<input type="hidden" name="name" value = '{{library.name}} ' />
	<input type="hidden" name="address" value = '{{library.address}} '/>
	<input type="hidden" name="phone" value = '{{library.phone_number}} ' />
	<input type="hidden" name="email" value = '{{library.email}} '/>
	<input type="hidden" name="lat" value = '{{library.Lat}}' />
	<input type="hidden" name="lon" value = '{{library.Lon}}' />
    <td>{{ library.name }}</td>
    <td>{{ library.address }}</td>
	{% if library.phone_number %}
    <td>{{ library.phone_number }}</td>
	{%endif%}
    <td>{{ library.email }}</td>
	<td><input type="submit" class="GoTo" value="View Page" />
  </form></tr>
  {% endfor %}
</table> 

</body>
</html>