

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/auth/static/mainStyle.css">
<head>
<title>Smart City</title>
 

</head>
 
<body>

<div class=transparentbox></div>
<h1>Login to SmartCity</h1>
<h2>Forgot Your Password?</h2>

<div class="container1">
  <input type="text" placeholder="Enter Email" name="uname">
</div>

<div class="container2">
  <input type="password" placeholder="Enter Password" name="psw">
</div>

<div class="login">
  <button type="login">Login</button>
</div>

<div class="register">
  <button onclick="window.location='index.html';" type="register">Register</button>
</div>

</body>
</html>

