<html><head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/mainStyle.css">
</head>
<body>
<nav>
	<div class="navbar">
		<ul>
			<li>
				<a href="<!--{%url 'mainpage:templates:mainpage' %}-->#">
					About us
				</a>
			</li>
			<li>
				<a href="<!--{%url 'landingpage:templates:loginpage' %}-->#">
					Home
				</a>
			</li>
			<li>
				<a href="<!--{%url 'registerpage:templates:registerpage' %}-->#">
					Register
				</a>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">User Types</a>
					<div class="dropdown-content">
					  <a href="#">Student</a>
					  <a href="#">Businessmen</a>
					  <a href="#">Tourists</a>
					</div>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Cities</a>
					<div class="dropdown-content">
					  <a href="#">Brisbane</a>
					  <a href="#">Sydney</a>
					  <a href="#">Melbourne</a>
					</div>
			</li>
			<div class="searchbar">
				<li style="float:right">
					<input class="searchTerm" type="text" name="search">
					<button>Search</button>
				</li>
			</div>
		</ul>
	</div>
</nav>

<img type="city"; src="https://broadwayadvancezh.files.wordpress.com/2016/09/manhattan-wallpaper-41.jpg?w=1400&h=400&crop=1">

<img type="wood"; src="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">

<img type="logo"; src="Smart_City_Logo.jpg">